<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Resumen de Cupos y Consumo</title>
  </head>
  <body style="font-family: sans-serif; line-height: 1.5;">
    <h2>Hola {{name}},</h2>

    <p>
      A continuación presentamos un informe detallado de consumos del día
      {{date}}
      de las obras a las cuales tienes acceso.
    </p>

    <p>
      En los archivos adjuntos podrás revisar los consumos por unidad de
      control, frente y material.
    </p>

    <p>Esperamos que esta información sea de utilidad para ti.</p>

    <p style="margin-top: 2rem;">
      Saludos,<br />
      <p>El equipo de Dumpify, #ydnnsoft</p>
    </p>
  </body>
</html>